.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/credentials
storage/api-docs
tests
.phpunit.result.cache
.idea
.vscode
*.md
